body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}   

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container, .filter-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.totals-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.entrada {
    color: green;
}

#total-green{
    color: green;
}

.saida {
    color: red;
}

#total-red{
    color: red;
}

#total-blue{
    color: #0056b3;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

a:hover {
    background-color: black;
    color: white;
    border-radius: 10px 0px 10px 0px;
    transition-duration: 0.5s;
}

footer, a {
    text-align: end;
    text-decoration: none;
    color: #dcdcdc;

}